body {
    background-color: black;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: black;
    -webkit-text-stroke: 3px #ff0000;
    white-space: nowrap;
    overflow: hidden;
}

p {
    background-color: white;
    color: brown;
    margin: 0;
    padding: 0.5em;
}

.row {
    display: block;
}

.row ::after {
    content: "";
    display: table;
    clear: both;
}

.side {
    float: left;
    margin: 0;
    width: 18%;
    padding: 0;
    background: url("assets/jeff.jpeg");
}

.main {
    float: left;
    margin: 0;
    background: url("assets/user666web.png");
    width: 55%;
    padding: 2em;
}

.squish {
    margin: 2em;
}