body {
    background-color: black;
}

img {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: black;
    -webkit-text-stroke: 3px #ff0000;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    color: beige;
}

p {
    background-color: white;
    color: brown;
    margin: 0;
    padding: 0.5em;
}

a {
    color: inherit;
}

.row {
    display: block;
}

.row ::after {
    content: "";
    display: table;
    clear: both;
}

.side {
    float: left;
    margin: 0;
    width: 19%;
    padding: 0;
    background: url("assets/jeff.jpeg");
}

.main {
    float: left;
    margin: 0;
    background: url("assets/user666web.png");
    width: 57%;
    padding: 2em;
}

.squish {
    margin: 2em;
}

.docrow {
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  padding: 0; 
}

.docrow:after {
  content: "";
  display: table;
  clear: both;
}

/* modal stuff */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    margin: auto;
    padding: 20px;
    display: block;
    width: 500px;
    height: 650px;
    background-color: black;
    border: firebrick 1px solid;
    box-shadow: 10px 10px 10px 12px;
    /* overflow: auto; */
}

div.modal-content p {
    color: beige;
    background-color: black;
}

.modal-btn {
    display: flex;
    width: 200px;
    height: 250px;
    margin: 0 25px;
    background-color: black;
    color: firebrick;
    border: maroon 1px solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.modal-btn:hover {
    text-shadow: maroon 1px 1px;
    border: firebrick 1px solid;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: red;
    font-size: 25pt;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: maroon;
    cursor: pointer;
}